# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    style.css                                          :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: amehmeto <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2018/05/08 03:51:25 by amehmeto          #+#    #+#              #
#    Updated: 2018/05/08 05:18:08 by amehmeto         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

html {
}

body {
	color: white;
	background-color: #383333;
	font-family: Helvetica, sans-serif;
	font-size: medium;
	padding: 5%;
}

h1 {
	text-align: center;
	font-size: xx-large;
}

h2 {
	text-align: center;
	font-size: x-large;
}

h1 .rouge {
	color: #CF1E1E;
}

button {
	width: 100%;
	border: #CF1E1E solid 3px;
	background-color: #CF1E1E;
	color: white;
	font-weight: bold;
	font-size: large; 
	margin: 2%;
	padding: 2%;
	border-radius: 50px;
}

.alt {
	background-color: transparent;
	color: #CF1E1E;
}

#key_name {
	width: auto;
	border-radius: 0 10px 10px 0;
	padding: 0;
	margin: 0;
}

input[type=text] {
	margin-top: -4px;
	margin-right: -4px;
	height: 20px;
	border: 3px solid #CF1E1E;
	border-radius: 10px 0 0 10px; 
	font-style: italic;
	color: rgba(184, 83, 83, 50);
	padding-left: 2%;
	width: 90%;
}

img {
	width: 80%;
	border-radius: 20px;
	border: 1px solid #979797;
}

ul li {
	list-style-type: none;
	font-size: large;
}

li::before {
	border: #CF1E1E solid 3px;
	border-radius: 10px;
	background: red;
	color: red;
}
