# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    style.css                                          :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: amehmeto <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2018/05/08 03:51:25 by amehmeto          #+#    #+#              #
#    Updated: 2018/05/08 04:16:15 by amehmeto         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

html {
}
body {
	color: white;
	background-color: #383333;
	font-family: Helvetica, sans-serif;
	font-size: medium;
	padding: 5%;
}

h1 {
	text-align: center;
	font-size: xx-large;
}

h2 {
	text-align: center;
	font-size: x-large;
}

h1 .rouge {
	color: #CF1E1E;
}

button {
	width: 100%;
	border: #CF1E1E solid 3px;
	background-color: #CF1E1E;
	color: white;
	font-weight: bold;
	font-size: large; 
	margin: 2%;
	padding: 2%;
	border-radius: 50px;
}

.alt {
	background-color: transparent;
	color: #CF1E1E;
}
